/* fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
    font-family: 'Poppins', sans-serif;
}



.title {
    font-size: 32px;
    color: black;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 12px;
}

.empty {
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: red;
}

/* header and nav */

.header {
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: #D3EEDC;
    padding: 20px 20px 20px 20px;
    border-radius: 25px;
}

.nav {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar a {
    font-size: 18px;
    font-weight: bolder;
    color: #4FAE5A;
    margin: 0 22px;
    text-decoration: underline solid transparent;
    transition: 0.2s linear;
}

.navbar a:hover {
    color: #2A6144;
    text-decoration: solid transparent;
}

.icons {
    filter: invert(59%) sepia(18%) saturate(1277%) hue-rotate(76deg) brightness(97%) contrast(85%);
}

.icons a:hover {
    filter: invert(32%) sepia(35%) saturate(541%) hue-rotate(96deg) brightness(93%) contrast(98%);
}

.icons span {
    margin-left: 10px;

}


/* carousel */

.carousel {
    position: relative;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    /* max-width: 80%;
    margin: auto; */
    /* padding: 20px 20px 20px 20px; */
}

.slide {
    display: flex;
    text-align: center;
    /* flex-wrap: wrap-reverse; */
}

.slide .image {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.slide .image img {
    width: 70%;
}

.slide .content {
    flex: 1 1 100px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.slide .content h3 {
    margin:10px 10px 0 10px;
    font-size: 40px;
    color: black;
}

.slide .content span {
    font-size: 20px;
    color: gray;
}

.slide .content .btn {
    margin-top: 16px;
    display: inline-block;
    font-size: 20px;
    padding: 12px 28px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: #4FAE5A;
    color: white;
    text-decoration: underline solid transparent;
    transition: 0.2s linear;
    border-radius: 25px;
}

.slide .content .btn:hover {
    background-color: #D3EEDC;
    color: #4FAE5A;
    text-decoration: underline solid transparent;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {  /* on smaller screens, decrease text size */
    .text {font-size: 11px}
  }

/* categories */

.category {
    background-color: #2A6144;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    padding-bottom: 60px;
    border-radius: 25px;
}

.category .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: flex;
    max-width: 80%;
    margin: auto;
}

.category .container .box {
    background-color: #D3EEDC;
    padding: 23px 0 0 0;
    margin: 12px;
    text-align: center;
    transition: 0.2s linear;
    border-radius: 25px;
}

.category .container .box img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    filter: invert(55%) sepia(45%) saturate(491%) hue-rotate(76deg) brightness(97%) contrast(96%);
}

.category .container .box h3{
    margin-top: 8px;
    color: #4FAE5A;
    text-decoration: underline #D3EEDC;
    transition: 0.2s linear;
 }
 
.category .container .box:hover{
    background-color: #4FAE5A;
 }
 
.category .container .box:hover img{
    filter: invert(91%) sepia(8%) saturate(431%) hue-rotate(87deg) brightness(101%) contrast(94%);
 }
 
.category .container .box:hover h3{
    color: white;
    text-decoration: underline #4FAE5A;
 }

.latest-items .more-btn {
    text-align: center;
 }

.latest-items .more-btn .btn {
    margin-top: 20px;
    font-size: 16px;
    padding: 10px 16px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: #4FAE5A;
    color: white;
    text-decoration: underline solid transparent;
    transition: 0.2s linear;
    border-radius: 25px;
 }

.latest-items .more-btn .btn:hover {
    background-color: #D3EEDC;
    color: #4FAE5A;
    text-decoration: underline solid transparent;
 }


 /* footer styles */

.footer-distributed{
  background: #373A44;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  border-radius: 25px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #4FAE5A;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #4FAE5A;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
