/* fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
    font-family: 'Poppins', sans-serif;
}

.title {
    font-size: 32px;
    color: black;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 12px;
}

.empty {
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: red;
}

/* header and nav */

.header {
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: #D3EEDC;
    padding: 20px 20px 20px 20px;
    border-radius: 25px;
}

.nav {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-height: 30px;
}

.navbar a {
    font-size: 18px;
    font-weight: bolder;
    color: #4FAE5A;
    margin: 0 22px;
    text-decoration: underline solid transparent;
    transition: 0.2s linear;
}

.navbar a:hover {
    color: #2A6144;
    text-decoration: solid transparent;
}

.icons {
    filter: invert(59%) sepia(18%) saturate(1277%) hue-rotate(76deg) brightness(97%) contrast(85%);
}

.icons a:hover {
    filter: invert(32%) sepia(35%) saturate(541%) hue-rotate(96deg) brightness(93%) contrast(98%);
}

.icons span {
    margin-left: 10px;

}


/* carousel */

.carousel {
    position: relative;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    /* max-width: 80%;
    margin: auto; */
    /* padding: 20px 20px 20px 20px; */
}

.slide {
    display: flex;
    text-align: center;
    /* flex-wrap: wrap-reverse; */
}

.slide .image {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.slide .image img {
    width: 70%;
}

.slide .content {
    flex: 1 1 100px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.slide .content h3 {
    margin:10px 10px 0 10px;
    font-size: 40px;
    color: black;
}

.slide .content span {
    font-size: 20px;
    color: gray;
}

.slide .content .btn {
    margin-top: 16px;
    display: inline-block;
    font-size: 20px;
    padding: 12px 28px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: #4FAE5A;
    color: white;
    text-decoration: underline solid transparent;
    transition: 0.2s linear;
    border-radius: 25px;
}

.slide .content .btn:hover {
    background-color: #D3EEDC;
    color: #4FAE5A;
    text-decoration: underline solid transparent;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {  /* on smaller screens, decrease text size */
    .text {font-size: 11px}
  }

/* categories */

.category {
    background-color: #2A6144;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    padding-bottom: 60px;
    border-radius: 25px;
}

.category .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: flex;
    max-width: 80%;
    margin: auto;
}

.category .container .box {
    background-color: #D3EEDC;
    padding: 23px 0 0 0;
    margin: 12px;
    text-align: center;
    transition: 0.2s linear;
    border-radius: 25px;
}

.category .container .box img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    filter: invert(55%) sepia(45%) saturate(491%) hue-rotate(76deg) brightness(97%) contrast(96%);
}

.category .container .box h3{
    margin-top: 8px;
    color: #4FAE5A;
    text-decoration: underline #D3EEDC;
    transition: 0.2s linear;
 }
 
.category .container .box:hover{
    background-color: #4FAE5A;
 }
 
.category .container .box:hover img{
    filter: invert(91%) sepia(8%) saturate(431%) hue-rotate(87deg) brightness(101%) contrast(94%);
 }
 
.category .container .box:hover h3{
    color: white;
    text-decoration: underline #4FAE5A;
 }

 /* products box stylings */

 .products .container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.products .container .box{
  border: 2px solid #4FAE5A;
  /* background-color: #D3EEDC; */
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}

.products .container .box img{
  height: 250px;
  width: 100%;
  object-fit: contain;
  border-radius: 25px;
}

.products .container .box .fa-eye,
.products .container .box .fa-shopping-cart{
   position: absolute;
   top:1rem;
   height: 40px;
   width: 40px;
   line-height: 40px;
   border: solid 1.5px #D3EEDC;
   background-color: white;
   cursor: pointer;
   font-size: 20px;
   color:#2A6144;
   transition: .2s linear;
   text-align: center;
   border-radius: 25px;
   text-decoration: none;
}

.products .container .box .fa-eye:hover,
.products .container .box .fa-shopping-cart:hover{
   background-color: #4FAE5A;
   color: white;
}

.products .container .box .fa-eye{
   right: -10rem;
}

.products .container .box .fa-shopping-cart{
   right: -10rem;
}

.products .container .box:hover .fa-eye{
   right: 1rem;
}

.products .container .box:hover .fa-shopping-cart{
   right: 1rem;
}

.products .container .box .cat{
   font-size: 16px;
   color: grey;
   text-decoration: solid underline transparent;
   transition: .2s linear;
}

.products .container .box .cat:hover{
   color: black;
   text-decoration: solid underline 1.5px black;
}

.products .container .box .name{
   font-size: 20px;
   color: black;
   margin: 10px 0 2px 0;
}

.products .container .box .flex{
   display: flex;
   align-items: center;
   gap: 30px;
   margin-top: 10px;
}

.products .container .box .flex .price{
   margin-right: auto;
   font-size: 25px;
   color: #4FAE5A;
}

.products .container .box .flex .price span{
   color: #4FAE5A;
   font-size: 1.8rem;
}

.products .container .box .flex .qty{
   padding: 5px;
   border: 1.5px solid #4FAE5A;
   font-size: 25px;
   color: black;
   border-radius: 15px;
   width: 60px;
   text-align: center;
}


.products .more-btn {
    text-align: center;
    padding: 60px 0 20px 0;
 }

.products .more-btn .btn {
    margin : auto;
    font-size: 16px;
    padding: 10px 16px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: #4FAE5A;
    color: white;
    text-decoration: underline solid transparent;
    transition: 0.2s linear;
    border-radius: 25px;
 }

.products .more-btn .btn:hover {
    background-color: #D3EEDC;
    color: #4FAE5A;
    text-decoration: underline solid transparent;
 }

.products .container .add-to-cart {
  text-align: center;
 }

.products .container .add-to-cart .add-btn {
    border: none;
    margin-top: 20px;
    font-size: 16px;
    padding: 5px 16px;
    cursor: pointer;
    background-color: #4FAE5A;
    color: white;
    text-decoration: underline solid transparent;
    transition: 0.2s linear;
    border-radius: 25px;
    display: block;
    width: 100%;
 }

.products .container .add-to-cart .add-btn:hover {
    background-color:#D3EEDC;
    color:#4FAE5A;
 }




 /* menu */

 .heading{
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 12px; */
  flex-flow: column;
  background-image: url('../images/menu_banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  min-height: 100px;
  margin-bottom: 60px;
}

.heading .menu-desc {
  font-size: 16px;
  max-width: 40%;
  text-align: center;
  color: white;
}
.heading h1 {
  font-size: 18px;
  color: white;
  padding: 40px 0 0 0;
}
  
.heading h3{
  font-size: 60px;
  color: #D3EEDC;
  margin: 0;
  padding: 10px 0 10px 0;
}

.heading .path {
  /* background-color: #4FAE5A; */
  border-color: 1.5px solid #D3EEDC;
  font-size: 16px;
  color: #D3EEDC;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  text-transform: capitalize;
}

.heading .path a{
  color: grey;
  text-decoration: none;
}

.heading p a:hover{
  text-decoration: underline;
  color: white;
}




/* cart */

.cart-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap:1rem; */
  flex-flow: column;
  background-color: var(--black);
  min-height: 20rem;
}

.cart-heading h3 {
  font-size: 30px;
  /* color:var(--white); */
  text-transform: capitalize;
  margin: 0;
  padding: 10px 0 10px 0;
}

.cart-heading p {
  font-size: 16px;
  color:var(--light-color);
  margin: 0;
}


.products .container .box .flex .fa-edit{
  width: 20px;
  background-color: var(--yellow);
  color:var(--black);
  cursor: pointer;
  font-size: 20px;
  height: 20px;
  border:var(--border);
}

.products .container .box .flex .fa-edit:hover{
  background-color: var(--black);
  color:var(--white);
}

.products .container .box .fa-times{
  position: absolute;
  top:1rem; left:1rem;
  /* background-color: red; */
  color: black;
  border: solid 1.5px black;
  line-height:20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  font-size: 2rem;
}

.products .container .box .fa-times:hover{
  background-color: black;
  color:white;
}

.products .container .box .sub-total{
  margin-top: 1rem;
  font-size: 1.8rem;
  color:var(--light-color);
}

.products .container .box .sub-total span{
  color:var(--red);
}

.products .cart-total{
  display: flex;
  align-items: center;
  gap:1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
  border:var(--border);
  padding:1rem;
}

.products .cart-total p{
  font-size: 2.5rem;
  color:var(--light-color);
}

.products .cart-total p span{
  color:var(--red);
}

.products .cart-total .btn{
  margin-top: 0;
}



 /* footer styles */

.footer-distributed{
  background: #373A44;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  border-radius: 25px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #4FAE5A;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #4FAE5A;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* media queries for responsiveness */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}


/* login form */

.form-container{
    display: flex;
    align-items: center;
}

.form-container form{
   margin:0 auto;
   max-width: 40rem;
   padding:2rem;
   text-align: center;
}

.form-container form h3{
   font-size: 2rem;
   color: #4FAE5A;
   margin-bottom: 2rem;
}

.form-container form .box{
   margin:.7rem 0;
   width: 70%;
   padding:1rem;
   font-size: 1rem;
   background-color: lightgrey;
   border-radius: 25px;
   border-color: lightgrey;
}

.form-container form .btn{
   margin:.7rem 0;
   width: 30%;
   padding:0.5rem;
   font-size: 1rem;
   background-color: #4FAE5A;
   border-radius: 25px;
   border-color: #4FAE5A;
   color: white;
   transition: 0.2s linear;
}

.form-container form .btn:hover{
   margin:.7rem 0;
   width: 30%;
   padding:0.5rem;
   font-size: 1rem;
   background-color: #2A6144;
   border-radius: 25px;
   border-color: #4FAE5A;
   color: white;
}

.form-container form p{
   margin-top: 1.5rem;
   font-size: 1rem;
   color:black;
}

.form-container form p a{
   color:black;
}

.form-container form p a:hover{
   text-decoration: underline;
}

/* about page */


.about .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:1.5rem;
}

.about .row .image{
   flex:1 1 40rem;
}

.about .row .image img{
   height: 400px; 
   width: 100%;
}

.about .row .content{
   text-align: center;
   padding-right: 200px;
   padding-left: 200px;
}

.about .row .content h3{
   font-size: 2rem;
   font-weight: bolder;
   color:#4FAE5A;
   text-transform: capitalize;
   margin-bottom: 1rem;

}

.about .row .content p{
   padding:1rem 0;
   line-height: 2;
   font-size: 1rem;
   color:black;
}

.about .row .btn {
    margin-top: 16px;
    display: inline-block;
    font-size: 20px;
    padding: 12px 28px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: #4FAE5A;
    color: white;
    text-decoration: underline solid transparent;
    transition: 0.2s linear;
    border-radius: 25px;
}

.about .row .btn:hover {
    background-color: #D3EEDC;
    color: #4FAE5A;
    text-decoration: underline solid transparent;
}


.steps .title{
    text-decoration: underline solid transparent;
    color: #4FAE5A;
}

.steps .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
   gap:1rem;
   align-items: flex-start;
   padding-right: 200px;
   padding-left: 200px;
}

.steps .box-container .box{
   text-align: center;
   border:.2rem solid 4FAE5A;
   padding:1rem;
}

.steps .box-container .box img{
   width: 20%;
   object-fit: contain;
   margin-bottom: 0rem;
   filter: invert(57%) sepia(23%) saturate(922%) hue-rotate(76deg) brightness(97%) contrast(95%);
}

.steps .box-container .box h3{
   font-size: 1.5rem;
   margin:1rem 0;
   color:#4FAE5A;
   text-transform: capitalize;
}

.steps .box-container .box p{
   line-height: 2;
   font-size: 1rem;
   color:black;
}

.contact .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:1 rem;
}


.testimonials{
  padding: 40px 0;
  color: #434343;
  text-align: center;
  font-weight: bolder;
}

.testimonials h1{
    color: #4FAE5A;
}

.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial{
  background: #fff;
  padding: 30px;
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: #6ab04c;
  margin-bottom: 20px;
}


@media screen and (max-width:960px) {
.col{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
.col{
  flex: 100%;
  max-width: 100%;
}
}
