/* fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
    font-family: 'Poppins', sans-serif;
}


/* header and nav */

.header {
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: white;
    border-bottom: 1.5px solid black;
    padding: 30px 30px 30px 30px;
}

.nav {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar a {
    font-size: 18px;
    color: black;
    margin: 0 22px;
    text-decoration: none;
    transition: 0.25s;
}

.navbar a:hover {
    color: #C0C0C0;
}

.icons span {
    margin-left: 10px;
}


/* carousell */

.slideshow-container {
    position: relative;
    margin: auto;
    padding: 20px 20px 20px 20px;
}

.slide {
    display: flex;
    text-align: center;
    flex-wrap: wrap-reverse;
    margin-bottom: 60px;
}

.slide .image {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.slide .image img {
    width: 80%;
}

.slide .content {
    flex: 1 1 100px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.slide .content h3 {
    margin:10px 10px 10px 0;
    font-size: 50px;
    color: black;
    text-transform: capitalize;
}

.slide .content span {
    font-size: 20px;
    color: gray;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {  /* on smaller screens, decrease text size */
    .text {font-size: 11px}
  }